<div class="container">

  <div class="topbar">
    {{title}}
  </div>

  <div class="chatArea">
    <div style="min-height: 0; overflow: scroll" id="scrolldiv">
    <div class="chat" *ngFor="let chat of chats; let i = index" [class.me]="i % 3">
      <p>{{chat}}</p>
    </div>
  </div>
  </div>

  <div class="inputArea">
    <form (submit) = "addChat()">
      <input class="tesxtbox" type="text" name="message" [(ngModel)]="message">
      <button class="sendButton" type="submit">Send</button>
    </form>
  </div>
</div>